@font-face {
    font-family: bold;
    src: url(fonts/MYRIADPRO-BOLD.OTF);
}
@font-face {
    font-family: light;
    src: url(fonts/MyriadPro-Light.otf);
}
@font-face {
    font-family: condensed;
    src: url(fonts/MYRIADPRO-BOLDCONDIT.OTF);
}

.contenedorPrincipal{
    margin-top: -1vw;
    margin-left: -1vw;
}
.contenedor1{
    margin-top: 7vw;
    width: 100vw;
    height: 55vw;
    background-image: url(img/Fondo.png);
    background-size: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menubar{
    margin-top: -7vw;
    background-color: #3266cc;
    width: 100vw;
    height: 9vw;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.textoInicio{
    color: #fff;
    width: 9vw;
    height: 2vw;
    top: 2vw;
    justify-content: center;
    font-size: 2vw;
    text-decoration: none;
    font-family: light;
}
.logo{
    width: 20vw;
    height: 4vw;
}
.boton1{
    background-color: white;
    border-radius: 2vw ;
    width: 12vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
}
.letraBoton{
    font-size: 1.5vw;
    font-family: regular;
    text-decoration: none;
    color: black;
}
.contenedorBlanco{
    background-color: white;
    width: 30vw;
    height: 45vw;
    border-radius: 1.5vw;
    margin-top: 5vw;
}
.texto1blanco{
    font-family: regular;
    text-align: center;
    font-size: 2vw;
    font-family: bold;
}
.texto2blanco{
    font-family: light;
    text-align: center;
    color: black;
    font-size: 0.8vw;
    margin-top: -1vw;
}

.contenedorTexto{
    margin-top: 10vw;
    width: 35vw;
    height: 25vw;
}

.textoIngresoSolidario{
    margin-top: 4vw;
    font-family: light;
    font-size: 3vw;
    text-align: center;
    color: rgb(0, 0, 0);
}
.textoIngresoSolidario2{
    font-family: light;
    font-size: 1.5vw;
    text-align: center;
    color: black;
}
.botonAzul{
    width:10vw;
    height: 2.3vw;
    border-radius: 0.7vw;
    background-color: #157ffb;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    margin-left: 12vw;
}
.botonAzul2{
    width:10vw;
    height: 2.3vw;
    border-radius: 0.7vw;
    background-color: #157FFB;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    margin-left: 10vw;
}
.letraBotonAzul{
    font-family: light;
    color: white;
    font-size: 0.8vw;
    text-decoration: none;
}
.contenedor2{
    width: 100vw;
    height: 34vw;  
}
.texto1Contenedor2{
    text-align: center;
    font-size: 3vw;
    font-family: light;
    margin-top: 4vw;
}
.textoImg{
    
    display: flex;
    width: 100vw;
    height: 38vw;
}
.texto{
    width: 50vw;
    height: 20vw;
    text-align: center;
}

.imagenContenedor2{
    margin-top: -3.5vw;
    width: 42vw;
    height: 29vw
}
.ingresarDatos{
    width: 25vw;
    height: 27vw;
    margin-left: 3vw;
}
.cedula{
    border: 1px solid rgb(136, 136, 136);
    width: 25vw;
    font-size: 0.8vw;
    height: 2vw;
    margin-top: -0.7vw;
    color: rgb(136, 136, 136);
}
.textoIngresarDatos{
    color: black;
    font-size: 0.8vw;
    font-family: light;
}
.rectangulo{
    margin-top: -0.7vw;
    width: 25vw;
    height: 2vw;
    border: 1px solid rgb(136, 136, 136);
}
.fecha{
    margin-top: -0.7vw;
    width: 25vw;
    height: 2vw;
    border: 1px solid rgb(136, 136, 136);

}
.textoImg1{
    font-size: 1.5vw;
    font-family: light;
    text-align: center;
}
.textoImg2{
    font-size: 1.5vw;
    font-family: light;
    text-align: center;
    text-decoration: none;
    color: black;
}
.flecha{
    width: 1vw;
    height: 0.6vw;

}
.contenedor3{
    margin-top: 4vw;
    width: 100vw;
    height: 42vw;
    text-align: center;
}
.texto1Contenedor3{
    font-size: 3vw;
    font-family: light;
}
.etapas123{
    width: 100vw;
    height: 4vw;
    display: flex;
}
.etapas{
    font-family: light;
    font-size: 2vw;
    margin-left: 21vw;
}
.fechasEtapas{
    width: 100vw;
    height: 4vw;
    display: flex;
}
.fechas{
    margin-left: 16vw;
    font-size: 2vw;
    font-family: bold;
}
.fecha1{
    margin-left: 7vw;
    font-size: 2vw;
    font-family: bold;
}
.fecha2{
    margin-left: 5vw;
    font-size: 2vw;
    font-family: bold;
}
.texto2Contenedor3{
    margin-top: 2.5vw;
    width: 100vw;
    height: 2vw;
    font-family: light;
    font-size: 2vw;
}
.bancos1{
    width: 100vw;
    height: 7vw;
    display: flex;
}
.tiposBanco{
    width: 20vw;
    height: 8vw;
    margin-left: 15vw;
}
.tiposBanco2{
    width: 18vw;
    height: 8vw;
    margin-left: 6vw;
    margin-top: -1vw;
}
.tiposBanco3{
    width: 25vw;
    height: 5vw;
    margin-left: 4vw;
    margin-top: 1.3vw;
}
.bancos2{
    width: 100vw;
    height: 7vw;
    display: flex;
}
.tiposBanco4{
    width: 10vw;
    height: 3.5vw;
    margin-left: 37.5vw;
    margin-top: 2vw;
}
.tiposBanco5{
    width: 12vw;
    height: 8vw;
    margin-left: 3vw;
    margin-top: -1vw;
}
.contenedor4{
    width: 100vw;
    text-align: center;
    height: 97vw;
}
.CirculoAzul{
    background-color: #157FFB;
    width: 3vw;
    height: 2.5vw;
    border-radius: 50%;
    font-size: 2vw;
    color: white;
    font-family: light;
    margin-left: 48.5vw;  
    margin-top: 2vw;  
    overflow: hidden;
}

.contenedor3Textolight{
    font-size: 1.5vw;
    font-family: light;
}
.contenedor3Texto1{
    font-size: 2vw;
    font-family: light;
}
.contenedor3TextoBold{
    font-size: 1.5vw;
    font-family: condensed;
}
.rectanguloAzul{
    width: 67vw;
    background-color: #157FFB;
    height: 17vw;
    border-radius: 1vw;
    margin-bottom: 4vw;
    margin-left: 17vw;
    align-items: center;
}
.texto2Contenedor3{
    font-family: bold;
    color: white;
    padding-top: 1vw;
    width: auto;
}
.texto3Contenedor3{
    font-family: light;
    color: white;
    padding-top: 1vw;
    font-size: 1.8vw;
}
.boton2{
    background-color: white;
    border-radius: 1.5vw;
    border: none;
    width: 13vw;
    height: 4vw;
}
.textoBoton{
    color: black;
    font-size: 1.5vw;
    font-family: bold;
    margin: 0;
}
.contenedor5{
    padding-top: 1vw;
    width: 100vw;
    height: 8.5vw;
    text-align: center;
    background-color:#3c67c5;
    display: flex;
}
.informacion{
    font-size: 1vw;
    font-family: light;
    color: white;
    margin-left: 11vw;
}

.location{
    width: 1.5vw;
    height: 2vw;
}
.footer{
    margin-left: 7vw;
    width: 15vw;
    height: 3vw;
    margin-top: 3vw;
}
.telefono{
    width: 1.5vw;
    height: 2vw;
}
.num{
    font-size: 1vw;
    font-family: light;
    margin: 0.7vw;
}